@media(max-width:750px){
    .pokedevs{
        flex-direction: column;
        align-items: center;
        padding: 2rem 0;
    }

    .card-pokedev{
        max-width: 19rem;
    }

    .card-pokedev .card-information{
        padding: 60px 30px 30px;
        margin-top: -50px;
    }

    .card-pokedev .card-information h3{
        font-size: 1rem;
    }

    .list{
        max-width: 360px;
    }

    .list .pokedev{
        width: 45%;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        margin-bottom: 0;
        border-radius: 8px;
    }

    .list ul{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 8px;
    }
}