body {
    font-family: "Poppins", sans-serif;
    background-image: url("../imagens/background.png");
    background-size: cover;
    background-position: center;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    backdrop-filter: blur(5px);
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.pokedevs {
    display: flex;
    gap: 30px;
    padding: 30px 0;
}

.card-pokedev {
    display: none;
    max-width: 22.5rem;
    border-radius: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.card-pokedev.open {
    display: block;
}

.card-pokedev img {
    width: 100%;
    height: 100%;
    margin-top: 0.625rem;
}

.card-pokedev .card-top {
    padding: 1.875rem 2.5rem 0;
}

.card-pokedev .name {
    margin-bottom: 0.313rem;
}

.card-pokedev .type {
    background-color: #ffffff;
    font-size: 0.75rem;
    opacity: 0.7;
    border-radius: 10px;
    padding: 2px 10px;
}

.card-pokedev .details {
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-pokedev .card-information {
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    padding: 5rem 1.875rem 1.875rem;
    margin-top: -4.375rem;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.card-pokedev .card-information h3 {
    font-size: 1.25rem;
    margin-bottom: 15px;
    border-bottom: 1px solid #6b727a;
}
 
.card-pokedev .card-information .description {
    padding: 0 10px;
    font-size: 0.938rem;
    max-height: 11.25rem;
    overflow-y: scroll;
}

.type-electric {
    background-color: #fcc719;
}

.type-fire {
    background-color: #f15000d2;
}

.type-water {
    background-color: #3fd4e7;
}

.type-grass {
    background-color: #49D0B0;
}

.type-ghost {
    background-color: #BA68C8;
}

.type-fairy {
    background-color: #e4a0d5;
}

.list {
    max-width: 200px;
}

.list .pokedev img {
    width: 25%;
}

.list .pokedev {
    background-color: #6b727a;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5px;
    margin-bottom: 10px;
    cursor: pointer;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    min-height: 70px;
    transition: 0.15 ease-in-out;
}

.list .pokedev:hover {
    transform: scale(1.05);
}

.list .pokedev span {
    padding-right: 20px;
}

.list .pokedev.active {
    background-color: #fa6668;
}